################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################



obj/
.vs/
bin/
FirstCore/
**/.bin
**/node_modules
node_modules/

node_modules/
dist/
.env
.DS_Store
