@page
@model FreeBilling.Web.Pages.IndexModel
@{
    var productName = "Free Billing Services, LLC";
    // throw new InvalidOperationException("Error happens...");
    ViewBag.Title = "Home Page";
}


<h1>@productName</h1>
<p>Welcome to our new website</p>

